---
layout: default
---
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script type="text/javascript" src="assets/instafeed/instafeed.min.js"></script>
{% assign imgurl = '{{image}}' %}
{% assign imgcptn = '{{caption}}' %}
{% assign imglink = '{{link}}' %}
{% assign imglks = '{{likes}}' %}
{% assign imgcmnts = '{{comments}}' %}

<script type="text/javascript">
    var feed = new Instafeed({
        get: 'user',
        userId: '222432689',
        accessToken: '222432689.1677ed0.7ec38ea77f434682a6b7d94de2bd5bad',
		limit: 3,
		resolution: 'standard_resolution',
		template: '<div class="gallery"><a target="_blank" href="{{imglink}}"><div  class="image"><img src="{{imgurl}}" style="width:100%"><div class="middle"><div class="text"><i class="fa fa-heart" style="color:#B82A00"></i> {{imglks}}&nbsp; 	&nbsp;<i class="fa fa-comment-o" ></i> {{imgcmnts}}</div></div></div></a><div class="desc">{{imgcptn}}</div></div>'
				
    });
    feed.run();
</script>

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
	<h2 class="post-list-heading">Instagram Feed</h2>
	<div id="instafeed"></div>
  {%- endif -%}

</div>
